<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">	
		<main role="main">
		
		<section class="jumbotron text-center mt-5">						
			<div class="container">
				<h1 class="jumbotron-heading">Repositório Acadêmico</h1>
				<p class="lead text-muted">Trabalhos desenvolvidos no IF Baiano</p>
			</div>
		</section>
			
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="d-flex justify-content-center">					
					<div class="col-md-8">						
						<div th:replace="fragments/alert"></div>
						<form  th:action="@{/trabalho/salvar}" th:object="${trabalho}"
							method="POST" enctype="multipart/form-data" class="was-validated">							
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Título</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" 
										id="titulo" th:field="*{titulo}" required />
									<div class="invalid-feedback">Título é requerido.</div>	
								</div>
							</div>
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Autor(es)</label>
								<div class="col-sm-10">
									<input type="text" class="form-control novoautor" 
										id="autores" name="autores" value="" required />
									<div class="invalid-feedback">Autor é requerido.</div>
									<div id="emendaHTMLautor"></div>			
									<a href="#" id="btnAdicionaAutor" style="color: #006400;"><i class="fa fa-plus"></i> Adicionar mais um(a)</a>
								</div>
							</div>	
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Orientador</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" 
										id="orientador" th:field="*{orientador}"required />
									<div class="invalid-feedback">Orientador é requerido.</div>	
								</div>
							</div>
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Co-orientador</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" 
										th:field="*{coorientador}" id="coorientador" />
								</div>
							</div>		
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Palavras-chave</label>
								<div class="col-sm-10">
									<input type="text" class="form-control novopalavra" 
										id="palavras" name="palavras" value="" required />
									<div class="invalid-feedback">Palavra-chave é requerida.</div>
									<div id="emendaHTMLpalavra"></div>			
									<a href="#" id="btnAdicionaPalavra" style="color: #006400;"><i class="fa fa-plus"></i> Adicionar mais uma</a>
								</div>
							</div>
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Curso</label>
								<div class="col-sm-10">
									<div id="curso" class="input-group">
									  <select class="custom-select" id="cursos" th:field="*{curso}">
									    
									  </select>
									  <div class="invalid-feedback">Curso é requerido.</div>
							  		</div>
							  </div>
							</div>		
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Resumo</label>
								<div class="col-sm-10">
									<textarea class="form-control" th:field="*{resumo}"
										id="resumo" rows="5"></textarea>
									<small class="form-text text-muted" >Adicione um resumo sobre o trabalho.</small>	
								</div>
							</div>	
							<div class="form-group row">
								<label for="trabalhos" 
									class="col-sm-2 col-form-label">Arquivo em PDF</label>
								<div class="col-sm-10">
									<input type="file" class="file-input" name="arquivo"
										id="file" required />
									<div class="invalid-feedback">PDF é requerido.</div>	
								</div>
							</div>
							<input type="hidden" th:field="*{id}"/>	
											
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" id="btnSalvar" class="btn btn-primary" data-toggle="tooltip"
											data-placement="right" title="Salvar"><i class="fas fa-save"></i></button>
								</div>
							</div>
						</form>
						
						<hr/>
						
						<h2>Trabalhos Cadastrados</h2>
						
						<table id="table-trabalhos" class="table table-sm table-striped table-bordered pre-wrap" style="width:100%">
						  <thead class="thead-dark">
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Título</th>
						      <th scope="col">Autor(es)</th>
						      <th scope="col">Curso</th>
						      <th scope="col">Editar</th>
						      <th scope="col">Excluir</th>
						    </tr>
						  </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		</main>
	</section>
	<script th:src="@{/js/trabalhos.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">

	var idContador = 0;
	var autores = [];
	var palavras = [];
	
	function exclui(id){
		var campo = $("#"+id.id);
		campo.hide(200);
	}

	$( document ).ready(function() {
		
		$("#btnAdicionaAutor").click(function(e){
			e.preventDefault();
			var tipoCampo = "autor";
			adicionaCampo(tipoCampo);
		})
		
		$("#btnAdicionaPalavra").click(function(e){
			e.preventDefault();
			var tipoCampo = "palavra";
			adicionaCampo(tipoCampo);
		})
		
		function adicionaCampo(tipo){

			idContador++;
			
			var idCampo = "campoExtra"+idContador;
			var idForm = "formExtra"+idContador;
		
			var html = "";
			
			html += "<div style='margin-top: 8px;' class='input-group' id='"+idForm+"'>";
			html += "<input type='text' id='"+idCampo+"' class='form-control novo"+tipo+"' placeholder='Insira um "+tipo+"'/>";
			html += "<span class='input-group-btn'>";
			html +=	"<button class='btn' onclick='exclui("+idForm+")' type='button'><span class='fa fa-trash'></span></button>";
			html += "</span>";
			html += "</div>";
			
			$("#emendaHTML"+tipo).append(html);
		}
				
		$("#btnSalvar").click(function(){
			
			$('.novoautor').each(function(){
				if($(this).is(":visible")){					
					autores.push($(this).val());					
				}
			});
			
			$('.novopalavra').each(function(){
				if($(this).is(":visible")){					
					palavras.push($(this).val());					
				}
			});
			
			document.getElementById("autores").value = autores;
			document.getElementById("palavras").value = palavras;
					
		})
		
	});
	
	/*[# th:if="${trabalho.id != null}"]*/
	
		$("#file").removeAttr("required");
	
	/*[/]*/
		
	/*[# th:if="${trabalho != null}"]*/
	
		$(document).ready(function() {
			$.each([[${trabalho.autores}]], function( index, value ){
				if(index == 0){
					document.getElementById("autores").value = value.nome;
				}else{
					
					idContador++;
					
					var idCampo = "campoExtra"+idContador;
					var idForm = "formExtra"+idContador;
				
					var html = "";
					
					html += "<div style='margin-top: 8px;' class='input-group' id='"+idForm+"'>";
					html += "<input type='text' id='"+idCampo+"' class='form-control novoautor' placeholder='Insira um autor'/>";
					html += "<span class='input-group-btn'>";
					html +=	"<button class='btn' onclick='exclui("+idForm+")' type='button'><span class='fa fa-trash'></span></button>";
					html += "</span>";
					html += "</div>";
					$("#emendaHTMLautor").append(html);
					
					document.getElementById(idCampo).value = value.nome;
				}
				
			});
		});
		
		$(document).ready(function() {
			$.each([[${trabalho.palavras}]], function( index, value ){
				if(index == 0){
					document.getElementById("palavras").value = value.palavra;
				}else{
					
					idContador++;
					
					var idCampo = "campoExtra"+idContador;
					var idForm = "formExtra"+idContador;
				
					var html = "";
					
					html += "<div style='margin-top: 8px;' class='input-group' id='"+idForm+"'>";
					html += "<input type='text' id='"+idCampo+"' class='form-control novopalavra' placeholder='Insira uma palavra'/>";
					html += "<span class='input-group-btn'>";
					html +=	"<button class='btn' onclick='exclui("+idForm+")' type='button'><span class='fa fa-trash'></span></button>";
					html += "</span>";
					html += "</div>";
					$("#emendaHTMLpalavra").append(html);
					
					document.getElementById(idCampo).value = value.palavra;
				}
				
			});
		});
		
	
	/*[/]*/
	
	/*[# th:if="${trabalho.curso != null}"]*/
	$(document).ready(function() {
		$.get('/trabalho/curso/listar' , function( result ) {
	    	$.each(result, function (k, v) {
	    		if(v.id == [[${trabalho.curso.id}]]){
	    			$("#cursos").append( 
	        				'<option name= "op" class="op" value="'+ v.id +'" selected="selected">'+ v.nome + '</option>'
	        		);
	    		}else{
	    			$("#cursos").append( 
	        				'<option name= "op" class="op" value="'+ v.id +'">'+ v.nome + '</option>'
	        		);
	    		}
    				            			
	    	  });
	    	});
	    });
	/*[/]*/	
	
	/*[# th:if="${trabalho.curso == null}"]*/
	$(document).ready(function() {
		$.get('/trabalho/curso/listar' , function( result ) {
	    	$.each(result, function (k, v) {	    		
    			$("#cursos").append( 
        				'<option name= "op" class="op" value="'+ v.id +'">'+ v.nome + '</option>'
        		);	    			            			
	    	  });
	    	});
	    });
	/*[/]*/	
	
	
	</script>
</body>
</html>